.switcher {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 9999px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-secondary);
  border-radius: 9999px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  color: var(--text-primary);
}

.active {
  background-color: var(--accent-color);
  color: white;
}